* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.grey {
  color: rgb(71, 71, 71);
}

body {
  background-color: rgb(252, 249, 249);
  text-align: center;
  header {
    // border: solid red 2px;
    max-width: 100vw;
    width: 100vw;

    nav {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 50px;

      width: 100vw;

      h1 {
        font-weight: 900;
        // border: solid red 2px;
        margin: 0 10px;

        // font-size: 40px;
      }

      a {
        // border: solid red 2px;

        color: rgb(105, 102, 102);
        max-width: 30%;
      }
      a:link {
        text-decoration: none;
      }

      a:visited {
        text-decoration: none;
      }
    }
  }

  .grid-container {
    width: 100%;
    display: grid;
    // grid-template-columns: auto;

    .grid-item {
      position: relative;
      width: 100%;
    }

    .image {
      opacity: 1;
      display: block;
      width: 100%;
      height: auto;
      transition: 0.5s ease;
      backface-visibility: hidden;
    }

    .middle {
      transition: 0.5s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    .grid-item:hover .image {
      opacity: 0.3;
    }

    .grid-item:hover .middle {
      opacity: 1;
    }

    .grid-item:hover {
      border: solid gray 1px;
    }

    .text {
      // background-color: #88c58a;
      // color: red;
      font-size: 26px;
      padding: 16px 32px;
    }
  }

  // // ABOUT

  // .aboutPage {
  //   margin: 0 auto;
  //   width: 80%;
  //   // border: solid red 2px;

  //   p {
  //     text-align: left;
  //   }

  //   h2 {
  //     text-align: left;
  //     padding: 10px 0;
  //   }

  //   section {
  //     // border: solid blue 2px;
  //     display: grid;
  //     grid-template-columns: auto auto auto;
  //     grid-gap: 20px;

  //     div {
  //       margin: 0 auto;
  //       width: 200px;
  //       // border: dashed gray 2px;

  //       img {
  //         height: 50px;
  //       }

  //       h2,
  //       p {
  //         text-align: center;
  //       }
  //     }
  //   }
  // }

  footer {
    .footer-links {
      a {
        text-decoration: none;
      }
    }

    div {
      display: flex;
      justify-content: center;

      h2 {
        margin: 10px;
      }

      img {
        height: 40px;
        width: 40px;
        margin: 10px;
      }

      img:hover {
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  body {
    text-align: center;
    header {
      nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;

        h1 {
          font-size: 40px;
        }
      }

      h2:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .grid-container {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      // border: dashed blue 2px;

      .grid-item {
        height: 50vh;
        // border: solid green 2px;

        img {
          height: 100%;
        }
      }
    }
  }

  // // ABOUT

  // .aboutPage {
  //   margin: 0 auto;
  //   width: 80%;
  //   // border: solid blue 2px;
  //   // background-color: red;

  //   p {
  //     text-align: left;
  //     // padding: 10px 0;
  //   }

  //   h2 {
  //     text-align: left;
  //     // padding-bottom: 20px;
  //   }

  //   section {
  //     // border: solid red 2px;
  //     // background-color: red;
  //     display: grid;
  //     grid-template-columns: auto auto auto;

  //     div {
  //       margin: 0 auto;
  //       width: 200px;
  //       // border: solid red 2px;

  //       h2,
  //       p {
  //         text-align: center;
  //       }
  //     }
  //   }
  // }

  // footer {
  //   // border: solid pink 2px;
  //   position: absolute;
  //   bottom: 0;
  //   width: 100%;
  // }
}
